.gallery-img__picture {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-img__item {
  list-style-type: none;
  flex-basis: calc((100% - 7px * 3) / 3);
  margin-left: 14px;
  margin-top: 14px;
}

.gallery-img {
  padding-left: 0px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: -7px;
  margin-top: -7px;
}
